.shopcart{
    font-size: 12px;
    color: #000000;
    width: 100%;
}

.shopcart tbody tr:hover{
    background-color: #ade1fb;
}
.shopcart thead tr th{
    font-weight: bolder;
    border: #919191 1px solid;
    font-size: 12px;
    color: #000000;
}
