@charset "utf-8";
* {
    word-wrap: break-word;
}

small, em, i {
    font-weight: normal;
    font-size: 12px;
    font-style: normal;
}

li {
    list-style: none;
}

label input {
    width: 14px;
    height: 14px;
    vertical-align: middle;
    margin-right: 5px;
}

img {
    border: 0;
}

h5 img, h6 img, .video_pop img, .share_mask img, .flash_up img, .flash_down img, .message_pop img, .info_vip img, .up img, .down img, .parts_nav li h5 img, h6 img, .video_pop img, .share_mask img, .flash_up img, .flash_down img, .message_pop img, .info_vip img, .up img, .down img, .parts_nav li img, .news_tj p img {
    azimuth: expression(
    this.pngSet?this.pngSet=true:
      (this.nodeName == "IMG" &&
         this.src.toLowerCase().indexOf('.png')>-1?
             (this.runtimeStyle.backgroundImage = "none",
             this.runtimeStyle.filter = "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='" + this.src + "', sizingMethod='image')",
             this.src = "/images/ui/tm.gif")
             :(this.runtimeStyle.backgroundImage = "none"
			 )),
      this.pngSet=true);
}

a {
    color: #5d5152;
    cursor: pointer;
    text-decoration: none;
}

.clear {
    clear: both;
    height: 0;
    overflow: hidden;
}

.roll_top {
    position: absolute;
    right: -22px;
}

#bigdiv {
    width: 980px;
    margin: auto;
    position: relative;
}

#head, #content, #footer {
    width: 100%;
    float: left;
    padding-top: 15px;
}

.head_top, .nav, #search, .search, .brand, .layout {
    width: 100%;
    float: left;
}
.search {
    height: 30px;
    overflow: hidden;
    padding: 9px 0;
}
.search dt, .search dd span a, .brand dd li, .brand dt, .brand dd p a, .help p span, .help p.addbor strong a, .branch dd, h6 a, h4 a, .mobile dt span, .fast span, .list3 ul li input, .points_bor2 p strong a, .location strong, .mainshow h2, .gm, .zx, .fs, .page input, .ulcont li, .xiu dt span, .up_bnt, .xiu_img span a, .xiu dd li p.xiu_img, .tsfx small input, .leftnav dd li, .leftnav dt span, .parts_img h2, .parts_page input, .help_l dl dt, .help_l dl dd li, .help_l dl dd li.crumb, .kd_search_div, .tel_title, .issue_list dt, .check_bnt, .cart_bnt1, .cart_bable th small, .cart_bnt2, .cart_bnt3, .cart_bnt4, .cart_bnt5, .cart_bnt6, .cart_bnt7, .cart_bnt8, .news_bnt1, .news_bnt2, .news_bnt3, .addmargin small, .parts_fx input, .than h2 strong, .than_bnt, .cart_bnt9, .cart_bnt10, .news_bnt4, .news_bnt5, .news_bnt6, .pop_bnt1, .tx_bnt, .huifu_bnt1 {
    background: url(/resources/images/index/spritenew.gif) no-repeat;
}

.search dt {
    background-position: 0 -26px;
    display: inline;
    float: left;
    height: 24px;
    margin-left: 20px;
    padding: 3px 0 3px 37px;
    width: 376px;
}


.search_txt {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    color: #808080;
    height: 14px;
    padding: 5px 0;
    width: 320px;
}


.search_bnt {
    background: none repeat scroll 0 0 transparent;
    border: medium none;
    cursor: pointer;
    height: 24px;
    width: 47px;
}


.search dd {
    float: left;
    font-weight: bold;
    height: 16px;
    line-height: 16px;
    padding: 7px 0 7px 15px;
    width: 525px;
}


.search dd p {
    float: left;
    height: 16px;
    overflow: hidden;
    width:420px;
}


.search dd span {
    float: right;
    width: 100px;
}


.search dd p a {
    margin: 0 10px;
}


.search dd span a {
    background-position: 0 0;
    margin-right: 20px;
    padding-left: 18px;
}
.head_top {
    padding-bottom: 10px;
}

.logo {
    float: left;
    padding-top: 13px;
}

.login {
    float: right;
    padding-top: 40px;
    position: relative;
}

.login span {
    float: left;
    margin-left: 5px;
    overflow: hidden;
    padding: 5px 12px 5px 5px;
}

.login span img {
    vertical-align: top;
    margin-right: 5px;
    margin-top: 2px;;
}

.login span a em {
    color: #82b80a;
}

.login span a{
   font-size: 12px;
}

.login span ins {
    text-decoration: none;
    color: #ccc;
}

.login dl {
    float: left;
    position: relative;
}

.login dl dt {
    height: 30px;
    float: left;
}

.login dl dt span {
    background: none;
    padding: 5px 0;
}

.login dl dt a {
    padding-right: 8px;
    background: url(/resources/images/index/tools_bg1.gif) no-repeat right center;
}

.login dl dd {
    width: auto;
    position: absolute;
    top: 30px;
    right: 6px;
    display: none;
    z-index: 100;
    border: 1px solid #d9d8d8;
    background: #fff;
    float: left;
}

.login dl dd div {
    position: relative;
}

.login dl dd span {
    width: 14px;
    height: 8px;
    background: url(/resources/images/index/tool_span.gif);
    position: absolute;
    top: -7px;
    right: 25px;
    padding: 0px;
}

.login dl dd td {
    text-align: center;
    padding: 5px 2px;
}

.login dl dd td img {
    padding: 0 10px 3px;
}

.login dl dd td p {
    height: 64px;
    overflow: hidden;
    line-height: 18px;
    font-family: "宋体";
}

.login_tips {
    width: 188px;
    height: 22px;
    border: 1px solid #eeeded;
    position: absolute;
    right: 5px;
    top: 10px;
    overflow: hidden;
}

.login_tips ul {
    width: 170px;
    float: left;
}

.login_tips ul li {
    width: 100%;
    float: left;
    text-align: center;
    font: 12px/22px "宋体";
}

.login_tips ul li a {
    color: #82b80a;
    text-decoration: underline;
}

.login_tips p {
    width: 14px;
    float: right;
    padding-top: 6px;
}

.nav {
    height: 50px;
    overflow: hidden;
    background: url(/resources/images/index/nav.png);
    font-family: "宋体";
}

.nav ul {
    float: left;
    height: 38px;
    overflow: hidden;
}

.nav ul li {
    width: 90px;
    height: 38px;
    float: left;
    margin-left: 25px;
    line-height: 40px;
    text-align: center;
}

.nav ul li a {
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    display: block;
}

.nav ul li a.crumb {
    color: #5d5152;
    background: url(/resources/images/index/nav_bg2.gif);
}

.nav ul li a.crumb:hover {
    color: #5d5152;
    background: url(/resources/images/index/nav_bg2.gif);
}

.nav ul li a:hover {
    color: #fff;
    background: url(/resources/images/index/nav_bg1.gif);
}

.nav p {
    float: right;
    padding-right: 12px;
    height: 23px;
    margin-top: 10px;
    line-height: 23px;
}

.l, .c, .r {
    float: left;
    height: 23px;
    background: url(/resources/images/index/car.gif);
    overflow: hidden;
}

.l {
    width: 5px;
    background-position: 0 0;
}

.c {
    background-position: 0 -23px;
    padding: 0 5px;
}

.c em {
    color: #7eba20;
    font-weight: bold;
}

.r {
    width: 23px;
    background-position: -6px 0;
}

.brand {
    height: 30px;
    padding: 1px 0 3px;
}

.brand dt {
    width: 71px;
    float: left;
    margin-left: 20px;
    text-align: center;
    height: 30px;
    line-height: 30px;
    background-position: 0 -60px;
    font-weight: bold;
    color: #fff;
    display: inline;
    font-family: "宋体";
    position: relative;
    z-index: 2;
}

.all {
    width: 955px;
    height: 72px;
    position: absolute;
    z-index: 999;
    display: none;
}

.brand dt.hover .all {
    display: block;
}

.all_div {
    width: 100%;
    height: 72px;
    position: relative;
}

.all_bg {
    width: 100%;
    height: 72px;
    background: url(/resources/images/index/all.png) no-repeat !important;
    _filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src = "/resources/images/index/all.png");
    background: none;
    position: absolute;
    top: 0;
    left: 0;
}

.all_txt {
    width: 917px;
    height: 64px;
    padding: 0 10px;
    position: absolute;
    top: 8px;
    left: 0;
    text-align: left;
    color: #666;
    overflow: hidden;
}

.all_txt p {
    width: 100%;
    float: left;
    border-top: 1px dashed #999;
    margin-top: -1px;
    font: 12px/28px "宋体";
}

.all_txt p a {
    padding: 0 10px;
    margin-right: 0px;
}

.all_txt p a:hover {
    color: #333;
}

.brand dd {
    width: 886px;
    float: left;
    height: 30px;
    overflow: hidden;
}

.brand dd ul, .brand dd p {
    float: left;
    padding-left: 1px;
}

.brand dd li {
    width: 100px;
    height: 28px;
    float: left;
    margin-left: -1px;
    padding: 1px 0;
    background-position: -83px -58px;
    text-align: center;
    display: inline;
}

.brand dd p {
    padding: 8px 0 8px 10px;
    height: 14px;
    line-height: 14px;
}

.brand dd p a {
    padding-left: 12px;
    background-position: -320px 0;
    font-weight: bold;
}

.leftdiv, .rightdiv, .layoutdiv {
    width: 100%;
    float: left;
    padding-bottom: 10px;
    margin-top: 5px;
}

.location, .location_l, .location_r {
    height: 41px;
    background: url(/resources/images/index/location.gif);
    line-height: 30px;
}

.location {
    width: 100%;
    float: left;
    position: relative;
    background-position: 0 -41px;
}

.location_l, .location_r {
    width: 10px;
    position: absolute;
    top: 0;
}

.location_l {
    left: 0;
    background-position: 0 0;
}

.location_r {
    right: 0;
    background-position: -10px 0;
}

.location small {
    float: right;
    padding-right: 15px;
}

.location strong {
    font-weight: normal;
    padding-left: 40px;
    background-position: -461px -252px;
}

.location strong a {
    margin: 0 5px;
}

.bor1 {
    width: 218px;
    border: solid #c7c2ba;
    border-width: 0 1px;
    background: #fff url(/resources/images/index/bor_bg1.gif) repeat-x top;
    float: left;
}

.bot1, .bot1_l, .bot1_r {
    background: url(/resources/images/index/bot_bg1.gif);
}

.bot1 {
    width: 100%;
    height: 4px;
    position: relative;
    float: left;
    background-position: 0 -4px;
    overflow: hidden;
}

.bot1_l, .bot1_r {
    width: 5px;
    height: 4px;
    position: absolute;
    top: 0;
}

.bot1_l {
    left: 0;
    background-position: 0 0;
}

.bot1_r {
    right: 0;
    background-position: -5px 0;
}

.bor2, .bor3 {
    width: 748px;
    border: solid #c7c2ba;
    border-width: 0 1px;
    background: url(/resources/images/index/bor_bg2.gif) repeat-x top;
    float: left;
}

.bor3 {
    width: 976px;
}

.nobg {
    background: none;
}

h6 a, h4 a {
    width: 40px;
    height: 12px;
    background-position: -460px -85px;
    float: right;
    margin: 7px 10px 0 0;
    display: inline;
}

h4, .h4_l, .h4_r {
    background: url(/resources/images/index/h4bg.gif);
}

h4 {
    width: 100%;
    height: 21px;
    background-position: 0 -21px;
    position: relative;
    float: left;
    margin-top: 10px;
    overflow: hidden;
}

h4 a {
    margin-top: 4px;
}

.h4_l {
    width: 8px;
    height: 21px;
    position: absolute;
    top: 0;
    left: 0;
    background-position: 0 0;
}

.h4_r {
    width: 8px;
    height: 21px;
    position: absolute;
    top: 0;
    right: 0;
    background-position: -8px 0;
}

h5, .h5_l, .h5_r {
    background: url(/resources/images/index/h5bg.gif);
}

h6, .h6_l, .h6_r {
    background: url(/resources/images/index/h6bg.gif);
}

h5, h6 {
    width: 100%;
    height: 26px;
    background-position: 0 -26px;
    position: relative;
    text-indent: 30px;
    float: left;
    font-size: 14px;
    font-family: "宋体";
    color: #fff;
    line-height: 24px;
    overflow: hidden;
}

h5 small {
    float: right;
    padding-right: 10px;
}

h5 a {
    color: #fff;
}

.award {
    padding-top: 3px;
    float: right;
}

.h5_l, .h6_l {
    width: 30px;
    height: 26px;
    position: absolute;
    top: 0;
    left: 0;
    background-position: 0 0;
}

.h5_r, .h6_r {
    width: 5px;
    height: 26px;
    position: absolute;
    top: 0;
    right: 0;
    _right: -1px;
    background-position: -33px 0;
}

.dtnav {
    width: 100%;
    float: left;
    position: relative;
}

.dtnav dt {
    position: absolute;
    height: 38px;
    top: -38px;
    left: 7px;
    padding-left: 5px;
}

.dtnav dt span, .dtnav dt small {
    float: left;
    height: 38px;
    margin-left: -3px;
    overflow: hidden;
}

.dtnav dt span.crumb {
    margin-left: -6px;
}

.dtnav dt span a {
    width: 112px;
    height: 38px;
    background: url(/resources/images/index/titlebg2.gif);
    float: left;
}

.dtnav dt span.crumb a {
    width: 115px;
    background: url(/resources/images/index/titlebg1.jpg);
}

.bot3, .bot3_l, .bot3_r {
    background: url(/resources/images/index/bot_bg3.gif);
}

.bot3 {
    width: 100%;
    height: 16px;
    position: relative;
    float: left;
    background-position: 0 -16px;
}

.bot3_l, .bot3_r {
    width: 8px;
    height: 16px;
    position: absolute;
    top: 0;
}

.bot3_l {
    left: 0;
    background-position: 0 0;
}

.bot3_r {
    right: 0;
    background-position: -8px 0;
}

.bor4 {
    width: 980px;
    padding: 0 1px;
    float: left;
    background: url(/resources/images/index/bor_bg3.gif) repeat-y;
}

.bot4, .bot4_l, .bot4_r {
    background: url(/resources/images/index/bot_bg4.gif);
}

.bot4 {
    width: 100%;
    height: 15px;
    position: relative;
    float: left;
    background-position: 0 -15px;
}

.bot4_l, .bot4_r {
    width: 8px;
    height: 15px;
    position: absolute;
    top: 0;
}

.bot4_l {
    left: 0;
    background-position: 0 0;
}

.bot4_r {
    right: 0;
    background-position: -8px 0;
}

.top5, .top5_l, .top5_r {
    background: url(/resources/images/index/top5.gif);
    overflow: hidden;
}

.top5 {
    width: 100%;
    height: 5px;
    position: relative;
    float: left;
    background-position: 0 -5px;
}

.top5_l, .top5_r {
    width: 5px;
    height: 5px;
    position: absolute;
    top: 0;
}

.top5_l {
    left: 0;
    background-position: 0 0;
}

.top5_r {
    right: 0;
    background-position: -5px 0;
}

.bor5 {
    padding: 0 3px;
    border: solid #c7c2ba;
    border-width: 0 1px;
    background: #f0efed;
    float: left;
}

.bor5div {
    float: left;
    background: #fff;
}

.top6, .top6_l, .top6_r {
    background: url(/resources/images/index/top6.gif);
    overflow: hidden;
}

.top6 {
    width: 100%;
    height: 4px;
    position: relative;
    float: left;
    background-position: 0 -4px;
}

.top6_l, .top6_r {
    width: 4px;
    height: 4px;
    position: absolute;
    top: 0;
}

.top6_l {
    left: 0;
    background-position: 0 0;
}

.top6_r {
    right: 0;
    background-position: -4px 0;
}

.points_1 {
    width: 485px;
    float: left;
    padding-top: 10px;
}

.points_2 {
    width: 485px;
    float: right;
    padding-top: 10px;
}

.points_bor1, .points_bor2 {
    width: 100%;
    height: 95px;
    overflow: hidden;
    float: left;
}

.points_bor1 {

/*
    background: url(/resources/images/index/points_bor1.gif);
*/


}


.points_bor1 .tel {
    background: none;
    width: 230px;
    padding-left: 10px;
    float: left;
}

.tel p {
    padding: 12px 0 0 10px;
    color: #557907;
}

.tel p strong {
    font-family: Arial;
    font-size: 16px;
    color: #403e3e;
}

.points_bor1  .working {
    background: none;
    float: right;
    width: 240px;
    height: 100px;
    border: none;
    text-align: center;
    line-height: 29px;
}

.points_bor1  .working p {
    padding-top: 15px;
}

.points_bor1  .working a {
    width: 185px;
    height: 44px;
    display: block;
    margin-left: 20px;
}

.points_bor2 {
   /* background: url(/resources/images/index/points_bor2.gif);*/
}

.points_bor2 p {
    padding-top: 18px;
}

.points_bor2 p a {
    margin: 0 10px;
}

.points_bor2 p strong {
    padding: 0 20px;
}

.points_bor2 p strong a {
    padding-left: 9px;
    background-position: -492px -44px;
}

.round {
    width:978px;
    float: left;
    width:100%;
}


.roundtop, .roundtop_l, .roundtop_r, .roundbot, .roundbot_l, .roundbot_r {
    height: 5px;
    overflow: hidden;
    background: url(/resources/images/index/round.gif);
}

.roundtop, .roundbot {
    width: 100%;
    float: left;
    position: relative;
}

.roundtop_l, .roundtop_r, .roundbot_l, .roundbot_r {
    width: 5px;
    position: absolute;
    top: 0;
}

.roundtop {
    background-position: 0 -10px;
}

.roundbot {
    background-position: 0 -15px;
}

.roundtop_l {
    background-position: 0 0;
    left: 0;
}

.roundtop_r {
    background-position: -9px 0;
    right: 0;
}

.roundbot_l {
    background-position: 0 -5px;
    left: 0;
}

.roundbot_r {
    background-position: -9px -5px;
    right: 0;
}

.round_bor {
    width:970px;
    float: left;
    padding: 0 2px;
    border: solid #72aa22;
    border-width: 0 2px;
    background: #f0efed;
}

.post_bnt, .sauce_bnt {
    width: 47px;
    height: 22px;
    border: none;
    cursor: pointer;
}

.post_bnt {
    background: url(/resources/images/index/video_bnt1.gif);
}

.sauce_bnt {
    width: 64px;
    background: url(/resources/images/index/sauce.gif);
}

.page {
    padding: 10px 0;
    text-align: right;
    width: 100%;
    float: left;
    font-family: "宋体";
}

.page strong {
    float: left;
    font: bold 14px/20px "宋体";
    padding-left: 10px;
    background: url(/resources/images/index/about_bg7.gif) no-repeat left center;
}

.page strong em {
    font: bold 14px/20px "宋体";
    color: #82b513;
}

.page strong a {
    padding: 0;
    border: none;
}

.page b {
    color: #82b513;
}

.page input {
    width: 46px;
    height: 24px;
    border: none;
    cursor: pointer;
    background-position: -192px -61px;
    font-weight: bold;
    vertical-align: middle;
}

.page a {
    padding: 3px 6px;
    border: 1px solid #ccc;
}

.page a.crumb {
    border: none;
    color: #72aa22;
    font-weight: bold;
}

.page small a {
    border: none;
    padding: 0;
}

#footer {
    padding: 15px 0 30px;
    width: 100%;
    float: left;
}

#footer dl {
    height: 45px;
    padding: 10px 0;
    border: solid #dcdcdc;
    border-width: 5px 0;
    width: 100%;
    float: left;
}

#footer dt {
    width: 175px;
    float: left;
    height: 45px;
    background: url(/resources/images/index/logo_f.gif) no-repeat left center;
}

#footer dd {
    height: 40px;
    border-left: 1px solid #dcdcdc;
    float: left;
    padding: 5px 10px 0;
    line-height: 20px;
    overflow: hidden;
}

.about {
    width: 240px;
}

.about a {
    margin: 0 4px;
}

#footer dd.copyright {
    width: 288px;
    padding: 5px 15px 0;
}

.copyright span {
    float: right;
}

.copyright em {
    font-size: 11px;
}

.hours {
    background: url(/resources/images/index/hours.gif) no-repeat right center;
    width: 202px;
}

/*20110627 add*/
.tips_logo {
    width: 94.8%;
    padding: 50px 0 50px 5%;
}

.tips_content {
    width: 280px;
    padding: 280px 225px 0 0;
    margin: auto;
    background: url(/resources/images/index/404.gif) no-repeat top right;
    font: bold 14px/24px "宋体";
    text-align: right;
    color: #0d4c6b;
}

.tips_content a {
    color: #8ace2b;
    text-decoration: underline;
}

/*弹出层*/
.video_mask, .mask {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    filter: Alpha(Opacity = 70);
    background: url(/resources/images/index/mask_bg.png);
    _background: #000;
    display: none;
    z-index: 2;
}

.share_pop {
    width: 846px;
    position: absolute;
    height: 534px;
    float: left;
    background: url(/resources/images/index/share_pop.gif);
    padding: 40px 0 0 46px;
    display: none;
}

.share_top {
    width: 100%;
    height: 42px;
    float: left;
}

.share_top a {
    width: 42px;
    height: 42px;
    float: right;
}

.share_text, .tsfx {
    width: 100%;
    float: left;
    padding-top: 12px;
}

.selectdiv, .xd_txt {
    width: 100%;
    float: left;
    padding: 10px 0;
}

.selectdiv span {
    padding-right: 20px;
}

.selectdiv strong {
    color: #659605;
}

.selectdiv select {
    border: 1px solid #bbbbbb;
}

.xd {
    width: 520px;
    padding: 20px 136px 0;
    float: left;
}

.xd_txt p {
    padding: 3px 0;
}

.xd_txt p small {
    float: right;
    font-size: 14px;
    padding-top: 6px;
}

.xd_txt p small em {
    color: #ff7800;
    font-weight: bold;
}

.xd_txt textarea {
    width: 510px;
    height: 90px;
    background: url(/resources/images/index/share_bg1.gif);
    padding: 5px;
    border: none;
    overflow: hidden;
}

.xiu {
    width: 100%;
    float: left;
    padding-top:;
}

.xiu dt {
    width: 100%;
    height: 30px;
    float: left;
}

.xiu dd {
    width: 516px;
    height: 136px;
    background: url(/resources/images/index/xiu_dd.gif);
    float: left;
    padding: 2px
}

.xiu dd ul {
    width: 100%;
    height: 120px;
    padding: 8px 0;
    overflow: auto;
    float: left;
    position: relative;
}

.xiu dd li {
    width: 98px;
    height: 104px;
    padding: 8px 12px;
    text-align: center;
    float: left;
}

.xiu dd li p {
    width: 100%;
    float: left;
}

.xiu dd li img {
    width: 90px;
    height: 60px
}

.xiu dd li p.xiu_img {
    width: 90px;
    height: 60px;
    padding: 1px;
    border: 1px solid #c7c2ba;
    margin-bottom: 10px;
    margin-left: 2px;
    background-position: -273px -133px;
    display: inline;
    position: relative;
}

.up_bnt {
    width: 95px;
    height: 27px;
    background-position: -85px -217px;
    border: none;
    cursor: pointer;
    color: #666;
    letter-spacing: 2px;
}

.xiu_img span a {
    position: absolute;
    width: 10px;
    height: 10px;
    background-position: -250px -65px;
    top: 50px;
    right: 4px;
}

.tsfx span {
    float: left;
    padding-top: 20px;
    color: #659605;
    font-weight: bold;
    font-size: 14px;
}

.tsfx span label {
    padding-left: 10px;
}

.tsfx span img {
    vertical-align: middle;
}

.tsfx small {
    float: right;
    padding-top: 8px;
}

.tsfx small input {
    width: 74px;
    height: 44px;
    border: none;
    cursor: pointer;
    background-position: -282px -64px;
}

.message_pop {
    width: 450px;
    background: #fff;
    float: left;
    position: fixed;
    display: none;
}

.message_pop dl, .message_pop dt, .contact, .contact_txt, .pop_bnt {
    width: 100%;
    float: left;
}

.message_pop dt {
    position: relative;
    font-size: 14px;
    font-weight: bold;
    color: #9dcd17;
    line-height: 50px;
    text-indent: 40px;
}

.message_pop dt a {
    float: right;
    padding: 2px;
}

.message_pop dt span {
    width:;
    height:;
    position: absolute;
    top: -55px;
    left: -45px;
    text-indent: 0;
}

.message_pop dd {
    width: 390px;
    padding: 0 30px 10px;
    float: left;
}

.message_pop dd p {
    padding: 3px 0;
}

.contact span, .contact_txt_l {
    width: 60px;
    float: left;
}

.contact small, .contact_txt_r {
    width: 450px;
    float: right;
}

.pop_txt1 {
    width: 140px;
    height: 14px;
    padding: 3px;
    border: 1px solid #e8e8e8;
}

.message_pop dd p textarea {
    width: 340px;
    height: 80px;
    border: 1px solid #e8e8e8;
    vertical-align: top;
}

.message_pop dd p small {
    float: right;
}

.message_pop dd p span {
    padding-left: 40px;
}

.contact_txt {
    padding: 10px 0;
}

.contact_txt_r {
    width: 448px;
    height: 188px;
    border: 1px solid #999;
}

.contact_txt_r textarea {
    width: 448px;
    height: 187px;
    border: none;
    background: none;
}

.pop_bnt {
    text-align: right;
}

.pop_bnt1 {
    width: 74px;
    height: 44px;
    cursor: pointer;
    border: none;
    background-position: -346px -631px;
}

.compop {
    height: 45px;
    text-align: center;
    overflow: hidden;
    position: absolute;
    color: #fff;
    font: bold 14px/150% "宋体";
    line-height: 45px;
}

.compop_l, .compop_u, .compop_r {
    height: 45px;
    float: left;
    background: url(/resources/images/index/compopbg.gif);
}

.compop_l {
    width: 23px;
    background-position: 0 -45px;
}

.compop_u {
    background-position: 0 0;
    padding: 0 10px;
    width: expression((documentElement.clientWidth < 200) ? "800px" : "auto" );
    min-width: 200px;
}

.compop_r {
    width: 23px;
    background-position: -24px -45px;
}

.map_pop {
    width: 420px;
    background: #fff;
    float: left;
    position: absolute;
    padding-left: 40px;
}

.map_pop dt {
    position: relative;
    font-size: 14px;
    font-weight: bold;
    color: #9dcd17;
    line-height: 50px;
}

.map_pop dt a {
    float: right;
    padding: 2px;
}

.map_pop dt span {
    position: absolute;
    top: -55px;
    left: -85px;
    text-indent: 0;
}

.map_pop dd {
    padding: 0 45px 15px 0;
}

.map_pop dd p {
    padding: 5px 0;
}

.map_pop dd p label {
    padding-right: 25px;
}

.map_txt {
    width: 290px;
    height: 16px;
    padding: 2px;
    border: 1px solid #7f9db9;
    margin-left: 25px;
}

.login_pop {

    width: 978px;
    height: 410px;
    margin: 0 auto;
    overflow: hidden;
    margin-top: 20px;
}

.login_popbg {
    width: 778px;
    height: 410px;
    background: url(/resources/images/index/login_popbg1.gif);


}

.login_popdiv {
    width: 698px;
    height: 378px;
    background: url(/resources/images/index/login_popbg2.gif);
    margin: 0 auto;
    padding: 10px 34px;
}

.login_pop_title {
    padding-bottom: 5px;
    border-bottom: 1px solid #6ac334;
    position: relative;
    margin-bottom: 20px;
    width: 100%;
    float: left;
}

.login_pop_title span {
    position: absolute;
    top: 0;
    right: -24px;
}

.login_pop_l {
    width: 432px;
    height: 256px;
    float: left;
    border-right: 1px solid #e7e7e7;
}

.login_pop_l dl {
    width: 100%;
    float: left;
    padding: 5px 0 15px;
}

.login_pop_l dt {
    width: 80px;
    float: left;
    text-align: right;
    font: 16px/36px "宋体";
}

.login_pop_l dd {
    width: 346px;
    float: right;
    position: relative;
    z-index: 1;
}

.login_pop_l dd.crumb {
    z-index: 2;
}

.inputbg1 {
    width: 252px;
    height: 36px;
    float: left;
    overflow: hidden;
}

.inputbg1 {
    background: url(/resources/images/index/inputbg1.gif);
}

.inputbg2 {
    background: url(/resources/images/index/inputbg2.gif);
}

.inputbg1 input {
    width: 242px;
    height: 16px;
    padding: 10px 5px;
    border: none;
    background: none;
    font-size: 14px;
}

.login_pop_l dd i {
    width: 100%;
    float: left;
    padding-top: 5px;
    color: #999;
}

.login_pop_l dd i img {
    vertical-align: middle;
    padding: 0 3px;
}

.login_pop_l dd label {
    color: #82b80a;
    padding-right: 15px;
}

.login_pop_l dd a {
    color: #82b80a;
    text-decoration: underline;
}

.login_bnt1 {
    width: 80px;
    height: 41px;
    border: none;
    cursor: pointer;
    background: url(/resources/images/index/login_bnt1.gif);
}

.mail_tips ul {
    width: 246px;
    border: 1px solid #ccc;
    background: #fff;
    float: left;
    position: absolute;
    left: 2px;
    top: 36px;
    overflow: hidden;
}

.mail_tips li {
    width: 100%;
    float: left;
    height: 20px;
    font: 12px/20px "宋体";
    text-indent: 10px;
}

.mail_tips li a {
    width: 100%;
    height: 20px;
    float: left;
    text-decoration: none;
    color: #999;
}

.mail_tips li a:hover {
    background: #e8f4fc;
    color: #000;
    width: 100%;
    height: 20px;
    float: left;
}

.login_pop_r {
    width: 230px;
    float: right;
    padding-top: 10px;
}

.login_pop_r p {
    padding: 6px 0;
}

.login_pop_r p strong {
    font: 14px/20px "宋体";
}

.login_pop_r p a {
    color: #82b80a;
    text-decoration: underline;
}
.errorinfo{
    color:#ff3333;

}