body {
    font-size: 12px;
    background-color: #ffffff;
    font-family: Verdana,"宋体";
}

ul#pub_slideplay li{
    margin-left: 0px;
}

.l, .c, .r {
    background: url("/resources/images/index/car.gif") repeat scroll 0 0 transparent;
    float: left;
    height: 23px;
    overflow: hidden;
}
.l {
    background-position: 0 0;
    width: 5px;
}
.c {
    background-position: 0 -23px;
    padding: 0 5px;
}
.c a{
    text-decoration: none;
    color:#000000;
}
.c em {
    color: #7EBA20;
    font-weight: bold;
}
.r {
    background-position: -6px 0;
    width: 23px;
}






div.search {

    background: url("/resources/images/spritenew.png") no-repeat scroll -10px -425px transparent;

    height: 30px;

}

.search-form {
    padding-top: 10px;
    padding-left: 10px;
    width: 420px;
    float: left;
}

input.search-text {
    width: 330px;
    height: 20px;
    margin-left: 31px;
    margin-top: 4px;
    border: none;
}

.hot-search {
    margin-left: 5px;
    width: 540px;
    float: left;
    padding-top: 10px;
}

.hot-search a {
    font-weight: bold;
    text-decoration: none;
    margin-left: 5px;
    color: #006fc0;
}

.brands {
    margin-top: 10px;
    padding-left: 10px;
}

.search-btn {
    width: 50px;
    height: 25px;
    background-color: transparent;
    border: none;
    cursor: hand;
}

a.quick-link {
    background: url("/resources/images/spritenew.png") no-repeat scroll -410px -465px transparent;
    margin-top: 10px;
    height: 17px;
    margin-left: 5px;
    padding-left: 15px;
    font-weight: bolder;
    text-decoration: none;
    display: inline-block;
    background-color: #ade1fb;
}

div.search-bar {
    background: url("/resources/images/index/search.gif") repeat scroll center top transparent;
    height: 82px;
}

.logo {
    width: 230px;
    height: 48px;
    background-image: url("/resources/images/logo.fw.png");
    background-repeat: no-repeat;
    display: block;
    cursor: hand;
    margin-top: 5px;
    margin-bottom: 5px;
    display:inline;
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;

}

.smart-brands {
    width: 900px;
    height: 70px;
    background-image: url("/resources/images/smart-brands.fw.png");
    z-index: 999;
    position: absolute;
    padding-top: 10px;
    /*
    left: 0px;
   */
}

.smart-brands p {
    float: left;
}

.smart-brands p strong {
    font-size: 12px;
    margin-left: 10px;
}

.smart-brands p a {
    margin-left: 10px;
    color: #2A72A3;
    font-weight: bolder;
    font-size: 12px;
    text-decoration: none;
}

.smart-brands p a:hover {
    color: #002a80;
    text-decoration: none;
}

.footer-dived {
    margin-top: 5px;
    margin-bottom: 5px;
    height: 5px;
    background-color: #919191;
}

ul.footer-link {
    float: left;
    margin-top: 0px;
    height: 18px;
    margin-bottom: 5px;
    margin-left: 0px;
}

ul.footer-link li {
    float: left;
    list-style: none;
    margin-left: 0px;
    height: 18px;
}

ul.footer-link li.dived {
    float: left;
    list-style: none;
    height: 18px;
    width: 5px;
    margin-left: 2px;
    margin-right: 2px;
    color: #000;
}

ul.footer-link li a {
    text-decoration: none;
    color: #000;
}

ul.footer-link li a:visited {
    text-decoration: none;
    color: #000;
}

ul.footer-link li a:hover {
    text-decoration: none;
    color: #515151;
}

.friend-link {
    height: 48px;
    margin-top: 5px;
    padding-right: 20px;
    padding-top: 5px;
}

.logo_bot {
    width: 158px;
    height: 34px;
    background-image: url("/resources/images/index/logo_f.gif");
    background-repeat: no-repeat;
    display: block;
    cursor: hand;
    margin-top: 15px;
    margin-bottom: 5px;
    display:inline;
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 1%;

}
.footer-address {
    padding-top: 5px;
    margin-top: 5px;
    height: 48px;
}

.footer-btime {
    margin-top: 5px;
    padding-top: 5px;
    width: 240px;
    height: 48px;
    display:inline;
    float: left;
    position: relative;
    margin-left: 1%;
    margin-right: 0px;
}

.right-border {
    border-right: #919191 1px solid;
}


.gwbz_ul1 {
    margin:0px auto;
    padding:5px 0px 0px 0px;
    width:210px;
    height:76px;
}
.gwbz_ul2 {
    margin:0px auto;
    padding:6px 0px 0px 0px;
    width:210px;
    height:76px;
}
.gwbz_ul3 {
    margin:0px auto;
    padding:6px 0px 0px 0px;
    width:210px;
    height:68px;
}
.compar{
    margin-top: 5px;
    margin-left: 17px;
    width: 90%;
}

.compar li {
    height:22px;
    font-size: 12px;
    list-style-image: url('/resources/images/index/triger_li.gif');
}

.compar li a{
    line-height: 15px;
    font-size: 13px;
}




.index_flash {
    width: 525px;
    float: left;
    height: 210px;
    border: 1px solid #ccc;
    overflow: hidden;
    position: relative;
}

.index_flash dt {
    position: absolute;
    bottom: 8px;
    right: 8px;
}

.index_flash dt span {
    width: 11px;
    height: 11px;
    background: url(/resources/images/index/vip_span2.gif);
    margin-left: 5px;
    float: left;
    overflow: hidden;
}

.index_flash dt span.crumb {
    background: url(/resources/images/index/vip_span1.gif);
}

.index_flash dd {
    width: 100%;
    height: 224px;
    float: left;
    display: none;

}

.index_flash dd.block {
    display: block;
}

.index_flash dd img {
    width: 712px;
    height: 224px;
}