@charset "utf-8";
/* CSS Document */

html, body, h1, h2, h3, hr, p, dl, dt, dd, ul, ol, li, form, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-weight: normal;
}

/*ul,ol,li {list-style:none;}*/
/*body,button,input,select,textarea {font:12px "",Tahoma,arial,sans-serif; color:#555;}*/
img, a img {
    border: none;
}

/** Link */
/*a:link, a:visited {text-decoration:none; color:#d8428a;}
a:hover, a:active {text-decoration:underline;}*/

/** Global */
html {
    overflow-y: scroll;
    border: 0;
}

body {
    background: #ededed;
}

.all {
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.header_bg {
    width: 1500px;
    height: 100px;
    background: url(/resources/images/common/header_bg.jpg) repeat-x;
    overflow: hidden;
}

.logo {
    width: 265px;
    height: 96px;
    overflow: hidden;
    margin-left: 200px;
    *margin-left: 100px;
    float: left;
}

.header_info {
    width: 500px;
    height: 45px;
    margin-left: 200px;
    float: left;
    margin-top: 35px;
}

.header_info ul li {
    font-family: "font-family:'Microsoft Yahei',Tahoma, Geneva, sans-serif";
    font-size: 12px;
    color: #838382;
    list-style: none;
    float: left;
    line-height: 25px;
}

.header_info a:link, .header_info a:visited {
    text-decoration: none;
    color: #838382;
}

.header_info a:hover, .header_info  a:active {
    text-decoration: underline;
}

.search {
    margin-top: 3px;
    width: 150px;
    overflow: hidden;
    float: left;
}

.search_ico {
    margin-top: 3px;
    width: 22px;
    height: 18px;
    background: url(/resources/images/common/search_ico.jpg) no-repeat;
    overflow: hidden;
    border: none;
    float: left;
    margin-left: 5px;
}

.header_img{

    width: 980px;
    height: 100px;
    overflow: hidden;
    margin: 0 auto;

}

/** main */
.main {
    width: 980px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}
/*-
.nav {
    width: 980px;
    height: 34px;
    background: url(/resources/images/common/nav_bg.png) no-repeat;
    overflow: hidden;
}

.nav ul {
    margin-left: 70px;
}

.nav ul li {
    font-family: "font-family:'Microsoft Yahei',Tahoma, Geneva, sans-serif";
    font-size: 14px;
    color: #fff;
    list-style: none;
    width: 120px;
    text-align: center;
    float: left;
    line-height: 30px;
}

.nav a:link, .nav a:visited {
    text-decoration: none;
    color: #fff;
}

.nav a:hover, .nav a:active {
    text-decoration: none;
}
*/
/*.nav_bg{ width:980px; height:34px; background:url(/resources/images/common/nav_bg.png) no-repeat; overflow:hidden;}
.nav_bg ul{ margin-left:70px;}
.nav_bg ul li{ font-family:"font-family:'Microsoft Yahei',Tahoma, Geneva, sans-serif"; font-size:14px; color:#fff; list-style:none; width:120px; text-align:center; float:left; line-height:30px;}
.nav_bg a:link,.nav_bg a:visited {text-decoration:none; color:#fff;}
.nav_bg a:hover,.nav_bg a:active { text-decoration:none;}*/



.banner {
    width: 980px;
    height: 296px;
    overflow: hidden;
    margin-top: 5px;
}

/** cp */
.cp {
    width: 214px;
    height: 190px;
    overflow: hidden;
    background: url(/resources/images/common/cp_bg.jpg) no-repeat;
    margin-top: 5px;
    float: left;
}

.cp span {
    font-family: "font-family:'Microsoft Yahei',Tahoma, Geneva, sans-serif";
    font-size: 14px;
    color: #444444;
    line-height: 50px;
    width: 140px;
    text-align: center;
    float: left;
    font-weight: bold;
}

.cp ul {
    float: left;
}

.cp ul li {
    font-family: "font-family:'Microsoft Yahei',Tahoma, Geneva, sans-serif";
    font-size: 12px;
    color: #645e60;
    list-style: none;
    line-height: 32px;
    width: 120px;
    margin-left: 30px;
}

.cp a:link, .cp a:visited {
    text-decoration: none;
    color: #645e60;
}

.cp a:hover, .cp a:active {
    text-decoration: none;
}

.gs {
    width: 521px;
    height: 190px;
    overflow: hidden;
    background: url(/resources/images/common/gsjj_bg.jpg) no-repeat;
    margin-top: 5px;
    float: left;
}

.gs span {
    font-family: "font-family:'Microsoft Yahei',Tahoma, Geneva, sans-serif";
    font-size: 14px;
    color: #444444;
    line-height: 50px;
    width: 160px;
    text-align: center;
    float: left;
    font-weight: bold;
}

.more {
    font-family: "font-family:'Microsoft Yahei',Tahoma, Geneva, sans-serif";
    font-size: 12px;
    color: #444444;
    line-height: 50px;
    float: right;
    margin-right: 20px;
}

.more a:link, .more a:visited {
    text-decoration: none;
    color: #444444;
}

.more a:hover, .more a:active {
    text-decoration: underline;
}

.cont {
    font-family: "font-family:'Microsoft Yahei',Tahoma, Geneva, sans-serif";
    font-size: 12px;
    color: #645e60;
    line-height: 25px;
    float: left;
    padding-left: 20px;
    padding-right: 20px;
}

.cont a:link, .cont a:visited {
    text-decoration: none;
    color: #645e60;
}

.cont a:hover, .cont a:active {
    text-decoration: underline;
}

.call {
    width: 245px;
    height: 190px;
    overflow: hidden;
    background: url(/resources/images/common/callme_bg.jpg) no-repeat;
    margin-top: 5px;
    float: left;
}

.call span {
    font-family: "font-family:'Microsoft Yahei',Tahoma, Geneva, sans-serif";
    font-size: 14px;
    color: #444444;
    line-height: 50px;
    width: 180px;
    text-align: center;
    float: left;
    font-weight: bold;
}

.call ul {
    float: left;
}

.call ul li {
    font-family: "font-family:'Microsoft Yahei',Tahoma, Geneva, sans-serif";
    font-size: 12px;
    color: #645e60;
    line-height: 18px;
    padding-left: 20px;
    padding-right: 20px;
    list-style: none;
}

.yy {
    width: 214px;
    height: 243px;
    overflow: hidden;
    background: url(/resources/images/common/yy_bg.jpg) no-repeat;
    float: left;
}

.yy span {
    font-family: "font-family:'Microsoft Yahei',Tahoma, Geneva, sans-serif";
    font-size: 14px;
    color: #444444;
    line-height: 50px;
    width: 150px;
    text-align: center;
    float: left;
    font-weight: bold;
}

.yy ul {
    float: left;
    margin-left: 30px;
}

.yy ul li {
    font-family: "font-family:'Microsoft Yahei',Tahoma, Geneva, sans-serif";
    color: #645e60;
    font-size: 12px;
    float: left;
    list-style: none;
    width: 80px;
    line-height: 30px;
}

.yy a:link, .yy a:visited {
    text-decoration: none;
    color: #645e60;
}

.yy a:hover, .yy a:active {
    text-decoration: none;
}

.js {
    width: 521px;
    height: 239px;
    overflow: hidden;
    background: url(/resources/images/common/js_bg.jpg) no-repeat;
    float: left;
}

.js span {
    font-family: "font-family:'Microsoft Yahei',Tahoma, Geneva, sans-serif";
    font-size: 14px;
    color: #444444;
    line-height: 50px;
    width: 160px;
    text-align: center;
    float: left;
    font-weight: bold;
}

.ji_pt {
    width: 173px;
}

.ji_pt ul {
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}

.ji_pt ul li {
    font-family: "font-family:'Microsoft Yahei',Tahoma, Geneva, sans-serif";
    font-size: 12px;
    color: #645e60;
    line-height: 30px;
    width: 130px;
    list-style: none;
}

.js_yy {
    width: 173px;
    float: left;
}

.ji_yy ul {
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}

.ji_yy ul li {
    font-family: "font-family:'Microsoft Yahei',Tahoma, Geneva, sans-serif";
    font-size: 12px;
    color: #645e60;
    line-height: 30px;
    width: 130px;
    list-style: none;
}

.js_xm {
    width: 173px;
    float: left;
}

.ji_xm ul {
    float: left;
    margin-left: 30px;
    margin-top: 10px;
}

.ji_xm ul li {
    font-family: "����";
    font-size: 12px;
    color: #645e60;
    line-height: 30px;
    width: 130px;
    list-style: none;
}

.zlkz {
    width: 245px;
    height: 238px;
    overflow: hidden;
    background: url(/resources/images/common/kz_bg.jpg) no-repeat;
    float: left;
}

.zlkz span {
    font-family: "font-family:'Microsoft Yahei',Tahoma, Geneva, sans-serif";
    font-size: 14px;
    color: #444444;
    line-height: 50px;
    width: 140px;
    text-align: center;
    float: left;
    font-weight: bold;
}

.zlkz ul {
    float: left;
    margin-left: 30px;
}

.zlkz ul li {
    font-family: "font-family:'Microsoft Yahei',Tahoma, Geneva, sans-serif";
    font-size: 12px;
    color: #645e60;
    list-style: none;
    line-height: 38px;
    width: 150px;
    margin-left: 30px;
}

.zlkz a:link, .zlkz a:visited {
    text-decoration: none;
    color: #645e60;
}

.zlkz a:hover, .zlkz a:active {
    text-decoration: none;
}

/*footer*/
.footer {
    width: 1350px;
    height: 315px;
    margin: 0 auto;
    overflow: hidden;
    background: url(/resources/images/common/foot_bg.jpg) repeat-x;
}

.footer ul {
    float: left;
    /*
    margin-left: 100px;
    *margin-left: 115px;
    */
    width: 196px;
    margin-top: 30px;
}

.footer ul li {
    font-family: "font-family:'Microsoft Yahei',Tahoma, Geneva, sans-serif";
    font-size: 12px;
    color: #fff;
    list-style: none;
    width: 100px;
    text-align: left;
    line-height: 30px;
}

.footer a:link, .footer a:visited {
    text-decoration: none;
    color: #fff;
}

.footer a:hover, .footer a:active {
    text-decoration: underline;
}

.footer span {
    font-family: "font-family:'Microsoft Yahei',Tahoma, Geneva, sans-serif";
    font-size: 14px;
    font-weight: bold;
}


.footer-inner{
    width: 980px;
    margin: 0 auto;
}
.xg {
    width: 980px;
    overflow: hidden;
}

.xg ul li {
    font-family: "font-family:'Microsoft Yahei',Tahoma, Geneva, sans-serif";
    font-size: 12px;
    color: #fff;
    list-style: none;
    float: left;
    width: 70px;
}

.xg a:link, .xg a:visited {
    text-decoration: none;
    color: #fff;
}

.xg a:hover, .xg a:active {
    text-decoration: underline;
}

.footer_info {
    font-family: "font-family:'Microsoft Yahei',Tahoma, Geneva, sans-serif";
    font-size: 12px;
    color: #fff;
    text-align: center;
    float: left;
    width: 1350px;
    margin-top: 30px;
}



