@charset "utf-8";
/* CSS Document */

html, body, h1, h2, h3, hr, p, dl, dt, dd, ul, ol, li, form, button, input, textarea, th, td {
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, h7 {
    font-weight: normal;
}

/*ul,ol,li {list-style:none;}*/
/*body,button,input,select,textarea {font:12px "",Tahoma,arial,sans-serif; color:#555;}*/
img, a img {
    border: none;
}

/** Link */
/*a:link, a:visited {text-decoration:none; color:#d8428a;}
a:hover, a:active {text-decoration:underline;}*/

/** Global */
html {
    overflow-y: scroll;
    border: 0;
}

body {
    background: #ededed;
}

.all {
    width: 1350px;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.header_bg {
    width: 980px;
    height: 70px;
    margin: 0 auto;
    background: url(/resources/images/common/header_bg.jpg) repeat-x;
    overflow: hidden;
}

.logo {
    width: 265px;
    height: 70px;
    overflow: hidden;
    margin-left: 10px;
    *margin-left: 10px;
    float:left;
}

.header_info {
    width: 500px;
    height: 45px;
    margin-left: 200px;
    float: left;
    margin-top: 35px;
}

.header_info ul li {
    font-family: "font-family:'Microsoft Yahei',Tahoma, Geneva, sans-serif";
    font-size: 12px;
    color: #838382;
    list-style: none;
    float: left;
    line-height: 25px;
}

.header_info a:link, .header_info a:visited {
    text-decoration: none;
    color: #838382;
}

.header_info a:hover, .header_info  a:active {
    text-decoration: underline;
}


.header_info ul li a img {
    width:24px;
    height: 18px;
}

.search {
    margin-top: 3px;
    width: 200px;
    overflow: hidden;
    float: left;
}

.search_ico {
    margin-top: 3px;
    width: 22px;
    height: 18px;
    background: url(/resources/images/common/search_ico.jpg) no-repeat;
    overflow: hidden;
    border: none;
    float: left;
    margin-left: 5px;
}

.header_img{

    width: 980px;
    height: 396px;
    overflow: hidden;
    margin: 0 auto;

}

/** main */
.main {
    width: 980px;
    min-height: 700px;
    height: auto;
    margin-left: auto;
    margin-right: auto;
    overflow: hidden;
}

.banner {
    width: 980px;
    height: 296px;
    overflow: hidden;
    margin-top: 5px;
}


/*footer*/
.footer {
    width: 980px;
    min-height: 300px;
    height: auto;
    margin: 0 auto;
    overflow: hidden;
    background: url(/resources/images/common/foot_bg.jpg) repeat-x;
}

.footer ul {
    float: left;
    /*
    margin-left: 100px;
    *margin-left: 115px;
    */
    width: 186px;
    margin-left: 10px;
    margin-top: 30px;
}

.footer ul li {
    font-family: "font-family:'Microsoft Yahei',Tahoma, Geneva, sans-serif";
    font-size: 12px;
    color: #fff;
    list-style: none;
    width: 100%;
    text-align: left;
    line-height: 30px;
}

.footer a:link, .footer a:visited {
    text-decoration: none;
    color: #fff;
}

.footer a:hover, .footer a:active {
    text-decoration: underline;
}

.footer span {
    font-family: "font-family:'Microsoft Yahei',Tahoma, Geneva, sans-serif";
    font-size: 14px;
    font-weight: bold;
}


.footer-inner{
    width: 980px;
    margin: 0 auto;
}
.xg {
    width: 980px;
    overflow: hidden;
}

.xg ul li {
    font-family: "font-family:'Microsoft Yahei',Tahoma, Geneva, sans-serif";
    font-size: 12px;
    color: #fff;
    list-style: none;
    float: left;
    width: 70px;
}

.xg a:link, .xg a:visited {
    text-decoration: none;
    color: #fff;
}

.xg a:hover, .xg a:active {
    text-decoration: underline;
}

.footer_info {
    font-family: "font-family:'Microsoft Yahei',Tahoma, Geneva, sans-serif";
    font-size: 12px;
    color: #fff;
    text-align: center;
    float: left;
    width: 980px;
    height: 25px;
    margin: 0 auto;
    margin-top: 30px;
}

.contact-box{

}

.contact-box li{
    margin-top: 10px;
    line-height: 25px;
}
.contact-box li input{
    width:150px ;
    height: 20px;
    border: #939393 1px solid;
}
.contact-box li a{

    margin-left:35px;
}

